<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
	<script src="../js/navbar.js"></script>
	<script src="../js/pagination_admin.js"></script>
	<script src="../js/admin_modals.js"></script>
	<script src="../js/JobAPI.js"></script>
	<script src="../js/admin_add_item.js"></script>
	<script src="../js/admin.js"></script>
	  <script src="../js/redirect.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>JoBoard</title>
  </head>
  <body>
    <header>
		<header>
			<nav>
			  <div class="nav-wrapper purple" id="pimp_my_navbar">
			  </div>
			</nav>
	  </header>
    </header>
    <main>
		<div id="modals_div"></div>
		<div>
			<div id="modal_job" class="modal modal-fixed-footer">
				<div class="modal-content">
					<div class="row">
						<form class="col s12">
							<div class="row">
								<div class="col s12 m8 l8">
									<input placeholder="Title" name="title" id="title_job" type="text" class="validate"/>
									<label for="title_job"> Title </label>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<textarea maxlength="500" placeholder="Description" name="description" id="description_job" class="materialize-textarea"></textarea>
									<label for="description_job"> Description </label>
								</div>
							</div>
							<div class="row">
								<div class="col s12 m6 l6">
									<input placeholder="Salary" name="salary" id="salary_job" type="text" class="validate"/>
									<label for="salary_job"> Salary </label>
								</div>
								<div class="col s12 m6 l6">
									<input placeholder="Worktime" name="worktime" id="time_job" type="text" class="validate"/>
									<label for="time_job"> Worktime </label>
								</div>
							</div>
							<div class="input-field select_cities">
								<select name="city_id" id="city_id_job">
								</select>
							</div>
							<label for="city_id"> City </label>
							<div class="input-field select_parent_fields">
								<select name="parent_fields_id" id="parent_id_job">
								</select>
							</div>
							<label for="parent_id_job"> Parent fields </label>
							<div class="input-field select_child_fields">
								<select name="child_fields_id" id="child_id_job">
								</select>
							</div>
							<label for="child_id_job"> Child fields </label>
							<div class="input-field select_companies">
								<select name="company_id" id="company_id_job">
								</select>
							</div>
							<label for="company_id_job"> Companies </label>
							<p id="error_job" class="modal_error"></p>
							<p class="modal_updated"></p>
						</form>
					</div>
					<button  class="waves-effect btn-flat modal_button add_send_btn">Send
						<i class="material-icons right">send</i>
					</button>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
				</div>
			</div>
		</div>
		<div>
			<div id="modal_user" class="modal modal-fixed-footer">
				<div class="modal-content">
					<form class="col s12">
						<div class="row">
							<div class="col s12 m6 l6">
								<input name="firstname" id="firstname_user" type="text" class="validate"/>
								<label for="firstname_user"> Firstname </label>
							</div>
							<div class="col s12 m6 l6">
								<input name="lastname" id="lastname_user" type="text" class="validate"/>
								<label for="lastname_user"> Lastname </label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m8 l8">
								<input name="email" type="email" id="email_user" class="activate"/>
								<label for="email_user"> Email </label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m8 l8">
								<input name="phone_number" type="text" id="phone_number_user" class="activate"/>
								<label for="phone_number_user"> Phone number </label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m8 l8">
								<input placeholder="Birthdate" name="birthdate" id="birthdate_user" type="date" class="validate" min="1900-01-01"/>
								<label for="birthdate_user">Birthdate</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m8 l8">
								<input name="password" type="password" id="password_user" class="activate"/>
								<label for="password_user"> Password </label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m8 l8">
								<input name="password_confirmation" type="password" id="password_confirmation_user" class="activate"/>
								<label for="password_confirmation_user"> Password Confirmation </label>
							</div>
						</div>
						<p id="error_user" class="modal_error"></p>
						<p class="modal_updated"></p>
					</form>
					<button  class="waves-effect btn-flat modal_button add_send_btn">Send
						<i class="material-icons right">send</i>
					</button>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
				</div>
			</div>
		</div>
		<div>
			<div id="modal_company" class="modal modal-fixed-footer">
				<div class="modal-content">
					<form class="col s12">
						<div class="row">
							<div class="col s12 m8 l8">
								<input name="name" id="name_company" type="text" class="validate"/>
								<label for="name_company"> Name </label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m8 l8">
								<input name="email" type="email" id="email_company" class="activate"/>
								<label for="email_company"> Email </label>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<textarea maxlength="500" placeholder="Description" name="description" id="description_company" class="materialize-textarea"></textarea>
								<label for="description_company"> Description </label>
							</div>
						</div>
						<div class="input-field select_cities">
							<select name="city_id" id="city_id_company"></select>
						</div>
						<label for="city_id"> City </label>
						<div class="row">
							<div class="input-field col s12 m8 l8">
								<input name="password" type="password" id="password_company" class="activate"/>
								<label for="password_company"> Password </label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m8 l8">
								<input name="password_confirmation" type="password" id="password_confirmation_company" class="activate"/>
								<label for="password_confirmation_company"> Password Confirmation </label>
							</div>
						</div>
						<p id="error_company" class="modal_error"></p>
						<p class="modal_updated"></p>
					</form>
					<button  class="waves-effect btn-flat modal_button add_send_btn">Send
						<i class="material-icons right">send</i>
					</button>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
				</div>
			</div>
		</div>
		<div>
			<div id="modal_parent_field" class="modal modal-fixed-footer">
				<div class="modal-content">
					<form class="col s12">
						<div class="row">
							<div class="col s12 m8 l8">
								<input name="name" id="name_parent_field" type="text" class="validate"/>
								<label for="name_parent_field"> Name </label>
							</div>
						</div>
						<p id="error_parent_field" class="modal_error"></p>
						<p class="modal_updated"></p>
					</form>
					<button  class="waves-effect btn-flat modal_button add_send_btn">Send
						<i class="material-icons right">send</i>
					</button>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
				</div>
			</div>
		</div>
		<div>
			<div id="modal_child_field" class="modal modal-fixed-footer">
				<div class="modal-content">
					<form class="col s12">
						<div class="row">
							<div class="col s12 m8 l8">
								<input name="name" id="name_child_field" type="text" class="validate"/>
								<label for="name_child_field"> Name </label>
							</div>
						</div>
						<div class="input-field select_parent_fields">
							<select name="parent_fields_id" id="parent_id_child_field">
							</select>
						</div>
						<label for="parent_id_child_field"> Parent fields </label>
						<p id="error_child_field" class="modal_error"></p>
						<p class="modal_updated"></p>
					</form>
					<button  class="waves-effect btn-flat modal_button add_send_btn">Send
						<i class="material-icons right">send</i>
					</button>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
				</div>
			</div>
		</div>
		<div>
			<div id="modal_city" class="modal modal-fixed-footer">
				<div class="modal-content">
					<form class="col s12">
						<div class="row">
							<div class="col s12 m8 l8">
								<input name="name" id="name_city" type="text" class="validate"/>
								<label for="name_city"> Name </label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 m8 l8">
								<input name="zipcode" id="zipcode_city" type="text" class="validate"/>
								<label for="zipcode_city"> Zipcode </label>
							</div>
						</div>
						<p id="error_city" class="modal_error"></p>
						<p class="modal_updated"></p>
					</form>
					<button  class="waves-effect btn-flat modal_button add_send_btn">Send
						<i class="material-icons right">send</i>
					</button>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
				</div>
			</div>
		</div>
		<h1 class="center-align">Welcome Reclaimer</h1>
		<h2 class="center-align">Admin board</h2>
		<div class="container admin_container">
			<div class="row">
				<div class="col s12 m3 l2">
					<div id="panel_collection" class="collection">
						<a href="#!" id="job_panel" class="collection-item active">Jobs</a>
						<a href="#!" id="user_panel" class="collection-item">Users</a>
						<a href="#!" id="company_panel" class="collection-item">Companies</a>
						<a href="#!" id="parents_fields_panel" class="collection-item">Parent fields</a>
						<a href="#!" id="childs_fields_panel" class="collection-item">Child fields</a>
						<a href="#!" id="cities_panel" class="collection-item">Cities</a>
					</div>
					<div id="add_btn"></div>
				</div>
				<div class="col s12 m9 l10">
					<div>
						<ul class="collection with-header table_container"></ul>
					</div>
					<ul class="pagination">
						<!-- <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li> -->
						<li id="page1" class="active page_index"><a href="#!">1</a></li>
						<!-- <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li> -->
					</ul>
				</div>
			</div>
		</div>
    </main>
    <footer class="page-footer purple">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Footer Content</h5>
					<p class="grey-text text-lighten-4">Footer content.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#">Link 1</a></li>
						<li><a class="grey-text text-lighten-3" href="#">Link 2</a></li>
						<li><a class="grey-text text-lighten-3" href="#">Link 3</a></li>
						<li><a class="grey-text text-lighten-3" href="#">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
			© ARTOULR SALSIFI Copyright Text
				<a class="grey-text text-lighten-4 right" href="#">More Links</a>
			</div>
		</div>
    </footer>
  </body>
</html>
